body
{
   /* background: url("https://wallpaperaccess.com/full/659052.jpg");*/
    background-image: url("https://wallpaperaccess.com/full/659052.jpg");
    background-attachment: fixed;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.form-group
{
    margin-left: 400px;
    margin-right: 400px;
    padding: 10px;
    background: rgba(0,0,0,0.2);
    border-radius: 10px;
    text-align: center;
}

#survey-form
{
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 20px;
    padding-top: 30px;
    padding-left: 30px;
    background: rgba(0,0,0,0.2);
    border-radius: 10px;
    font-size: 20px;
}

input
{
    border-radius: 5px;
    height: 40px;
    width: 635px;
}

.queries
{
    padding-bottom: 20px;
}

#dropdown
{
      height: 40px;
    width: 635px;
}

.input-radio
{
    height: 20px;
    font-size: 10px !important;
}

[value~="game"]
{
    height: 20px;
}

#comments
{
    height: 80px;
    width: 635px;
}

.submit-button
{
    margin-left: 25%;
    height: 50px;
    width: 335px;
    text-align: center;
    background: rgba(0,0,0,0.4);
    border-radius: 10px;
    color: #fff;
    font-size: 40px;
}

@media(max-width:700px)
{
    body
    {
        background: url("https://fsb.zobj.net/crop.php?r=fjrBRJhiUEeWHeNKYaS6pKW9UXJo3GBEHOr7uVx_jxjtjywfN6nt2Hxq2i3fstDZOuF6bU6g-zA3HmF42PAr1Cmj3UX2ksnrOujD5dGAZsD02T1wWsI17LE8ijIyxKt6rF6ETaw9tgYDXsfOcv_klSDnAbRZYAV3sCRE_r8naTrzVO_0mSPlUobN6DM2Mc3am2dePuW5m3FElMUJ");
        background-attachment: fixed;
    }


    .form-group
   {
    margin-left: 40px;
    margin-right: 40px;
    
   }

   #survey-form
  {
    margin-left: 40px;
    margin-right: 40px;
  }

  input
 {
    width: 315px;
 } 

 #dropdown
{
    height: 40px;
    width: 315px;
}

.submit-button
{
    width: 315px;
    margin-left: 3%;
}

#comments
{
    height: 80px;
    width: 315px;   
}

}